In [41]:
import pandas as pd
from matplotlib import pyplot as plt

In [42]:
df = pd.read_csv('salary.csv')
df

       company                  job     degree  slary
0       google      sales executive  bachelors      0
1       google      sales executive    masters      0
2       google     business manager  bachelors      1
3       google     business manager    masters      1
4       google  computer programmer  bachelors      0
5       google  computer programmer    masters      1
6   abc pharma      sales executive    masters      0
7   abc pharma  computer programmer  bachelors      0
8   abc pharma     business manager  bachelors      0
9   abc pharma     business manager    masters      1
10    facebook      sales executive  bachelors      1
11    facebook      sales executive    masters      1
12    facebook     business manager  bachelors      1
13    facebook     business manager    masters      1
14    facebook  computer programmer  bachelors      1
15    facebook  computer programmer    masters      1

In [43]:
inputs = df.drop('slary', axis = 'columns')
inputs

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [44]:
target = df.slary
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: slary, dtype: int64

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [47]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])

In [48]:
inputs

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [51]:
inputs.drop(['company', 'job', 'degree'], axis = 'columns', inplace=True)
inputs

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

if we do not put inplace=True, the columns do not been deoprd so, we have to store the data frame in another variable


**The Data Frame Without inplace = True looks like this

In [50]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis = 'columns')
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [54]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [55]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [57]:
model.score(inputs, target) * 100

100.0

In [70]:
result = model.predict([[2, 1, 1]])

C:\Users\Sikkim\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [71]:
if (result[0] != 0) :
    print("Salary Is More Than $100")
else : print("Salary Is less Than $100")

Salary Is More Than $100