In [67]:
import numpy as np
import pandas as pd
from sklearn import linear_model
import math

In [68]:
df = pd.read_csv("homepriceswithbedrooms.csv")
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  505000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [69]:
df.Bedrooms.median()

4.0

In [70]:
df.Bedrooms = df.Bedrooms.fillna(df.Bedrooms.median())
df

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  505000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [71]:
# Creating Model
model = linear_model.LinearRegression()
model.fit(df.drop('Price', axis = 'columns'), df.Price)

LinearRegression()

In [72]:
model.predict([[3000, 3, 40]])

C:\Users\Sikkim\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([399326.07562816])

In [73]:
model.coef_

array([   65.08145094, 31624.82724245, -7233.8023276 ])

In [74]:
model.intercept_

398559.3341942895

In [75]:
65.08145094 * 3000 + 31624.82724245 * 3 - 7233.8023276 * 40 + 398559.3341942895

399326.0756376395